# Data Science Tools and Ecosystem

This notebook summarizes data science tools and the data science ecosystem.

**Objectives:**

- List popular languages for data science
- List common libraries for data science
- List popular data science tools
- Demonstrate simple arithmetic expressions

Some of the popular languages that data scientists use are:
1. Python
2. R
3. SQL

Some libraries commonly used by data scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
| ----- |
| Jupyter |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
 # This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335

## Author
Jenny Williams